.tabsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabs {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}

.tab {
  padding: var(--spacing-8);
  cursor: pointer;
  border: none;
  background: none;
  font-size: var(--fs-16);
  font-family: var(--ff);
  &.active {
    border-bottom: 2px solid #007bff;
    font-weight: bold;
  }
  @media (min-width: 550px) {
    padding: var(--spacing-16);
  }
}

.tabContent {
  display: none;
  flex: 1;
  &.active {
    display: block;
  }
}
