.heroContainer {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 250px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  @media (min-width: 550px) {
    min-height: 450px;
  }
}

.heroThumbnailContainer {
  background-position: top;
  background-size: cover;
  filter: blur(8px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heroTitle {
  font-size: var(--fs-48);
}
