.card {
  background-color: var(--color-gray-0);
  border: 1px solid var(--border-color);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: var(--box-shadow);
  }
}

.thumbnail {
  display: block;
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4, 4px);
  padding: var(--spacing-16, 16px);
  * {
    margin: 0;
  }
}

.cardTitle {
  font-size: var(--fs-24, 24px);
  font-weight: var(--fw-700, 700);
}

.cardData {
  font-size: var(--fs-12, 12px);
}

.cardLink {
  color: var(--color-primary);
  &:link,
  &:visited {
    text-decoration: none;
  }
  &:focus,
  &:hover,
  &:active {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}
