.navbar{
    background-color: black;
    width:100%;
    font-family: sans-serif;
    padding: 20px 10px;
    margin: 0px;
}
.navbar a:link, a:visited{
    text-decoration: none;
    color: white;
    height: inherit;
    padding: inherit;
}
.navbar a:hover{
    background-color: lightgray;
    color: black;
    height: inherit;
    padding: inherit;
}