#searchBar{
    background-color: rgb(187, 187, 187);
}

#DetailCard{
    padding: 20px;
    margin-top: 10px;
}

#searchResults{
    padding:20px;
}

#searchResults .card{
    margin:10px;
    padding:10px;
}
