#searchBar{
    background-color: rgb(187, 187, 187);
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.detailCard{
    padding: 20px;
    margin-top: 10px;
    max-width: 1200px;
}
.detailCard img{
    max-width: 300px;
}

.cardGrid{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: auto;
    max-width: 1200px;
}

p, h1, h2, h3, h4, h5{
    font-family: sans-serif;
}

body {
    margin:0;
}