.imageContainer img {
  max-width: 100%;
  height: auto;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 690px;
  background-size: cover;
  background-position: top;
  filter: blur(12px);
  z-index: -1;
}

.backButton {
  background-color: var(--color-gray-100);
  border: 0;
  color: var(--color-gray-800);
  cursor: pointer;
  display: inline-block;
  margin: var(--spacing-16) 0;
  padding: var(--spacing-8) var(--spacing-16);
  position: absolute;
  &:hover {
    background-color: var(--color-gray-200);
  }
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  background: rgb(255 255 255 / 63%);
  padding: var(--spacing-16);
  margin-bottom: var(--spacing-16);
  & p {
    margin: 0;
  }
}

.imageContainer {
  margin-top: var(--spacing-16);
}

.sectionTitle {
  font-size: var(--fs-24);
  margin-top: var(--spacing-64);
}

.altShowCard {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  & h3,
  & p {
    margin: 0;
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
  }
  & .altShowLink {
    color: var(--color-blue-600);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.externalLinksIcon {
  height: 40px;
  width: 40px;
}

.episodeCard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  & img {
    display: block;
    width: 100%;
  }
  & .episodeTitle {
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    margin: 0;
  }
}

.episodesContainer {
  padding: var(--spacing-16) 0;
}

.castContainer {
  background: var(--color-gray-100);
  padding: var(--spacing-16) 0;
  & .actorImage {
    display: block;
    width: 100%;
  }
  & .actorName {
    font-size: var(--fs-14);
    margin: 0;
  }
}
